/*Configuração do main*/
main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: rgb(247, 236, 236);
}

/*Configuração do section main*/
main section {
	max-width: 800px;
	text-align: center;
}

/*Configuração do container*/
.container {
	width: 90%;
	height: 80%;
	max-width: 900px;
	margin: 0 auto;

	flex-direction: column;
	display: flex;
	color: rgb(0, 0, 0);

	border-radius: 10px;
}

.formulario {
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	background-color: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.campo label {
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 1rem;
	align-self: flex-start;
}

.campo {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 500px;
}

.campo input {
	width: 100%;
	max-width: 500px;
}

/*Configuração de botões*/
#cancelar-btn {
	background-color: #e74c3c;
	;
	width: 30%;
}


#cancelar-btn:hover {
	background-color: #c0392b;
}

#btn-form {
	margin-top: 10px;
	width: 100%;
	display: flex;
	gap: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

/*Configuração do botão  adicionar*/
#add-btn {
	border: none;
}

/*Configuração do link*/
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

h2 {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: var(--bg);
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media (min-width: 769px) {
	h2 {
		padding-top: 10px;
		width: 70%;
		max-width: 700px;
		align-self: center;


	}

	label {
		padding: 0;
	}

	.campo {
		width: 80%;

	}

	.formulario {
		margin: 0;
		padding: 20px;
		align-self: center;
		width: 70%;
		max-width: 700px;
	}
}

/*/
https://github.com/lucianofernando28-maker/Sistema-Gestao-de-Estoque.git*
